.kabupaten{padding: 50px; font-family: Verdana, Geneva, Tahoma, sans-serif;}
.kabupaten .judul h1{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.kabupaten .judul {padding-top: 90px; padding-bottom: 70px;}
.kabupaten .caption{font-size: 18px;}
.kabupaten figcaption{font-size: 16px;}